body {}

.form-control::placeholder {
  color: #ccc;
  opacity: 1; /* для Firefox */
}


.navbar {
  background-color: #ffffff;
}

.navbar-brand:hover {
  color: #007bff;
  text-decoration: underline;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.profile-image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin: 1rem 0;
}

.settings-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  color: #333;
  transition: color 0.2s ease;
}

.settings-link:hover {
  color: #007bff;
}

.card-title {
  font-size: 28px;
}

.card-title-p {
  font-size: 56px;
}

.card-name {
  font-size: 42px;
}

.team .card-hover,
.player .card-hover {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 10px;
}

.team .card-hover:hover,
.player .card-hover:hover {
  transform: translateY(-5px);
  box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.25), /* основной тень */
    0 6px 12px rgba(0, 0, 0, 0.12);  /* дополнительная тень */
  background-color: #e0f2fe;
}

